<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./libs/Vue-v2.5.17.js"></script>
    <style>
        .red {
            color: red;
        }
        .thin {
            font-weight: 200;
        }
    </style>
</head>
<body>

    <div id="app">
        <!--v-for index在后面-->
       <h1 v-for="(item, index) in nms">{{index}}---{{item}}</h1>
       
       <!--v-for value在前面，key在后面-->
       <h1 v-for="(value, key, index) in student">{{index}}---{{key}}---{{value}}</h1>

       <!--v-for count 从1开始-->
       <h1 v-for="count in 10">{{count}}</h1>

       <!--v-for key属性可以实现数据的唯一性-->

       Id:<input type="text" name="Id" v-model="id"/> <br>
       Name:<input type="text" name="Id" v-model="name"/>
       <input type="button" value="Add" @click="addPeople">

       <!--尝试去掉：key绑定，选中最后一个，然后添加一个，看看会出现什么bug？？-->
       <h2 v-for="p in people" :key="p.id">
        <input type="checkbox">
        {{p.id}}--{{p.name}}
        </h2>
    </div>



    <script>
        //v-model 只适用于表单元素
        var vm = new Vue({
            el: '#app',
            data: {
                nms: [4,5,6,7],
                student: {
                    id: 1,
                    name: "zs"
                },
                id: '',
                name: '',
                people: [
                    {id:1, name: "xm1"},
                    {id:2, name: "xm2"},
                    {id:3, name: "xm3"},
                ]
            },
            methods: {
                addPeople: function() {
                    this.people.unshift({id: this.id, name: this.name});
                }
            }
        });
    </script>
</body>
</html>