<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./libs/Vue-v2.5.17.js"></script>
    <link rel="stylesheet" href="./libs/bootstrap.min.css">
</head>

<body>

    <div id="app">

        <form class="form-inline">
            <div class="form-group">
                <label for="my-input">Id: </label>
                <input v-model="id" class="form-control" type="text">
            </div>
            <div class="form-group">
                <label for="my-input">Name: </label>
                <input v-model="name" class="form-control" type="text">
            </div>
            <div class="form-group">
                <input type="button" value="Add" class="btn btn-primary" @click.self="add">
            </div>
            <div class="form-group">
                <label for="my-input">Filter：</label>
                <input v-model="keyword" class="form-control" type="text">
            </div>
        </form>

        <table class="table table-light">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Time</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <!--表达式中可以使用定义的属性以及方法
                search 是方法名字
                keyword 是属性
                -->
                <tr v-for="car in search(keyword)" :key="car.id">
                    <td v-text="car.id"></td>
                    <td v-text="car.name"></td>
                    <td>{{car.ctime | dateTimerFilter('yyyy-mm-dd')}}</td>
                    <td><input type="button" value="删除" class="btn btn-danger" @click.prevent="del(car.id)"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        //过滤器只能使用在{{}}mustach和v-bind中！！！
        //使用方法{{name | filterName}}
        //定义全局过滤器语法 Vue.filter("filterName", function(name, arg1, arg2 ....) {});
        Vue.filter("dateTimerFilter", function (dateTime, pattern) {
            var dateStr = new Date(dateTime);
            var year = dateStr.getFullYear();
            var month = dateStr.getMonth();
            var day = dateStr.getDate();
            pattern = pattern.toLowerCase();
            if('yyyy-mm-dd' === pattern) {
                return `${year}-${month}-${day}`;
            } else {
                return `${year}/${month}/${day}`;
            }
        });

        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                keyword: '',
                cars: [{
                        id: 1,
                        name: 'benz',
                        ctime: new Date()
                    },
                    {
                        id: 2,
                        name: 'bwm',
                        ctime: new Date()
                    }
                ]
            },
            methods: {
                add: function () {
                    this.cars.push({
                        id: this.id,
                        name: this.name,
                        ctime: new Date()
                    });
                    this.id = this.name = '';
                },
                del: function (id) {
                    this.cars.some(function (item, index) {
                        if (item.id == id) {
                            this.cars.splice(index, 1);
                            return true;
                        }
                    }.bind(this));
                },
                search: function (keyword) {
                    return this.cars.filter(function (item) {
                        if (item.name.indexOf(keyword) != -1) {
                            return true;
                        }
                    });
                }
            }
        });



        
    </script>
</body>

</html>