<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./libs/Vue-v2.5.17.js"></script>
    <link rel="stylesheet" href="./libs/bootstrap.min.css">
</head>

<body>

    <div id="app">
        InputByEnter: <input type="text" v-model="msg" @keyup.enter="popup"/>
        <!--https://vuejs.org/v2/guide/events.html#Key-Modifiers-->
        InputByF2: <input type="text" v-model="msg" @keyup.f2="popup"/>
    </div>

   


    <script>

        Vue.config.keyCodes.f2 = 113;

        var vm = new Vue({
            el: '#app',
            data: {
               msg: ''
            },
            methods: {
                popup: function() {
                    alert(this.msg);
                }
            },
            
        });

        
    </script>
</body>

</html>