<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./libs/Vue-v2.5.17.js"></script>
  <link rel="stylesheet" href="./libs/bootstrap.min.css">

  <style>
    .v-enter, .v-leave-to {
      opacity: 0;
      transform: translateX(80px);
    }

    .v-enter-active, .v-leave-active {
      transition: all 0.8s ease;
    }


    .my-enter, .my-leave-to {
      opacity: 0;
      transform: translateY(80px);
    }

    .my-enter-active, .my-leave-active {
      transition: all 0.8s ease;
    }
  </style>
</head>
<body>

  <div id="app">
    <button class="btn btn-primary" type="button" @click="flag=!flag">Toggle</button>
    <transition>
        <h3 v-if="flag">This is animation H3.</h3>
    </transition>

    <transition name="my">
        <h3 v-if="flag">This is animation H3 using custom directive named my.</h3>
    </transition>
  </div>
  
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        flag: true
      }

    });
  </script>
</body>
</html>