<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./libs/Vue-v2.5.17.js"></script>
  <link rel="stylesheet" href="./libs/bootstrap.min.css">
  <link rel="stylesheet" href="./libs/animate-v3.7.0.css">

  
</head>
<body>

  <div id="app">
    <button class="btn btn-primary" type="button" @click="flag=!flag">Toggle</button>
    
    <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut">
      <h3 v-if="flag">This is animation H3.</h3>
    </transition>

    <transition enter-active-class="bounceIn" leave-active-class="bounceOut">
        <h3 v-if="flag" class="animated">This is animation H3.</h3>
      </transition>

  </div>
  
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        flag: true
      }

    });
  </script>
</body>
</html>