<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./libs/Vue-v2.5.17.js"></script>
  <link rel="stylesheet" href="./libs/bootstrap.min.css">
  <link rel="stylesheet" href="./libs/animate-v3.7.0.css">
<style>
  .v-enter, .v-leave-to {
    opacity: 0;
    transform: translateY(100px);
  }

  .v-enter-active, .v-leave-active {
    transition: all 0.8s ease;
  }

  /*v-move 和 v-leave-active配合使用实现删除动画*/
  .v-move {
    transition: all 0.8s ease;
  }

  .v-leave-active {
    position: absolute;
  }
</style>

</head>
<body>

  <div id="app">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">People Management</h5>
        <input type="text" v-model="id" class="form-control" type="text" placeholder="Id">
        <input v-model="name" class="form-control inline" type="text" placeholder="Name">
        <button class="btn btn-primary" type="button" @click="add">Add</button>
      </div>
    </div>


    <ul class="list-group">
      <!--v-for动态生成的元素不能是用 transition, 要使用transitionGroup-->
      <!--给transition-group 添加appear属性实现入场效果-->
      <!--给transition-group 不指定tag就会以span包裹元素-->
      <transition-group appear>
          <li class="list-group-item list-group-item-action" v-for="(p, index) in people" 
          :key="p.id" @click="del(index)">{{p.id}}---{{p.name}}</li>
      </transition-group>
    </ul>
    <!--使用tag指定ul 使用class指定样式-->
    <transition-group appear tag="ul" class="list-group">
        <li class="list-group-item list-group-item-action" v-for="(p, index) in people" 
        :key="p.id" @click="del(index)">{{p.id}}---{{p.name}}</li>
    </transition-group>

  </div>
  
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        msg:'Hi vue',
        id:'',
        name: '',
        people: [
          {id:1, name:'zs1'},
          {id:2, name:'zs2'},
          {id:3, name:'zs3'},
        ]
      },
      methods: {
        add:function() {
          this.people.push({id: this.id, name:this.name});
          this.id = this.name = '';
        },
        del: function(id){
          this.people.splice(id, 1);
          console.log(123);
        }
      }

    });
  </script>
</body>
</html>