<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/chart.js"></script>
    <script src="./js/jquery.1.11.3.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/datatables.min.js"></script>
    <script src="./js/datatable.bs4.min.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/datatables.min.css">
    <link rel="stylesheet" href="./css/datatables.bs4.min.css">
</head>

<body>

    <div class="chart-container" style="position: relative; height:35vh; width:65vw">
        <canvas id="myChart"></canvas>
    </div>



    <script>
        var dataAvg = ${dataAvg};
        var drawChart = function (data) {
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',
                // The data for our dataset
                data: {
                    labels: data.labels,
                    datasets: data.datasets
                },
                // Configuration options go here
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Historical price overview',
                        fontSize: 18
                    },
                    legend: {
                        labels: {
                            fontSize: 18
                        }
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                        titleFontSize: 16,
                        bodyfontSize: 18
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            ticks: {
                                fontSize: 18
                            },
                            fontSize: 18,
                            scaleLabel: {
                                display: true,
                                labelString: 'Timeline',
                                fontSize: 18
                            }
                        }],
                        yAxes: [{
                            display: true,
                            ticks: {
                                fontSize: 18
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Price',
                                fontSize: 18
                            }
                        }]
                    }
                }
            });
        };
        drawChart(dataAvg);
    </script>
</body>

</html>