<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%-5p] [%l]%n%m%n%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="levelMin" value="INFO" />
      <param name="levelMax" value="ERROR" />
      <param name="AcceptOnMatch" value="true" />
    </filter>
  </appender>

  <category name="org.apache.pdfbox.pdmodel">
    <priority value="OFF" />
  </category>

  <root>
    <level value ="DEBUG"/>
    <appender-ref ref="ConsoleAppender"/>
  </root>

</log4j:configuration>
