<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Thymeleaf Example</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
        <script type="text/javascript" th:src="@{/js/jquery-1.11.1.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
        <style type="text/css">
        	.glyphicon {
        		margin-left:14px;
        	}
        </style>
    </head>
    <body>
    
    	<div class="container">
	        <h1 class="page-header">Files</h1>
	        <table class="table table-hover">
				<thead>
					<tr>
						<td>Name</td><td>Create Date</td><td>Actions</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="f : ${files}">
						<td th:text="${f.fileName}"></td>
						<td th:text="${f.createDate}"></td>
						<td> <a th:href="'/file/download/'+ ${f.fileName}"><span class="glyphicon glyphicon-download-alt"></span></a>
						<a th:href="'/file/del/'+ ${f.fileName}"><span class="glyphicon glyphicon-trash"></span></a></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
    </body>
</html>