extends layout.pug

block content
        .container
            form(method='post', action='/users/post')
                h1 Register
                .form-group
                label UserName
                input.form-control(type='text', name='name', 
                    placeholder='Enter Name')
                .form-group
                label Email
                input.form-control(type='email', name='email', 
                    placeholder='Enter Email')
                .form-group
                label Password
                input.form-control(type='text', name='password', 
                    placeholder='******')
                button.btn.btn-default(type='submit') Submit